// Wizard logos
.find-an-expert-contact-information-icon {
  width: 46px;
  height: 46px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -145px -10px;
}

.find-an-expert-experts-icon {
  width: 40px;
  height: 46px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -275px -10px;
}

.find-an-expert-experts-type-icon {
  width: 46px;
  height: 46px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -10px -83px;
}

.find-an-expert-get-started-icon {
  width: 46px;
  height: 35px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -74px -149px;
}

.find-an-expert-location-icon {
  width: 46px;
  height: 46px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -76px -83px;
}

.find-an-expert-project-type-icon {
  width: 44px;
  height: 44px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -10px -149px;
}

.find-an-expert-request-received-icon {
  width: 46px;
  height: 45px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -142px -83px;
}

.find-an-expert-start-date-icon {
  width: 49px;
  height: 47px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -76px -10px;
}

.find-an-expert-timeline-icon {
  width: 44px;
  height: 48px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -211px -10px;
}

.find-an-expert-time-commitment-icon {
  width: 44px;
  height: 48px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -211px -78px;
}

.find-an-expert-budget-icon {
  width: 46px;
  height: 53px;
  background: url("assets/pages/find-an-expert/icon-sprite.png") -10px -10px;
}
