.inline-alert {
  display: inline-flex;
  width: 100%;
  &.alert {
    margin: 0 0 2rem;
  }
  &.alert-light {
    border-radius: 0;
    svg {
      color: $color-cerulean;
    }
    span {
      margin: 0 0 0 0.75rem;
      color: $color-cerulean;
    }
  }
}

.alerts-wrapper {
  margin-bottom: 1.5rem;
  .alert {
    margin-bottom: 0;
    border-radius: 0;
    &.alert-danger {
      background-color: #e8694d;
    }
    &.alert-success {
      background-color: $color-success;
    }
  }
}

.alert {
  &.alert-dark-info {
    background-color: #335262;
    padding: 2rem 2rem 2rem 2.5rem;
    .btn {
      font-size: 0.875rem;
      min-width: 160px;
    }
  }
}

.alert {
  &.alert-dark-success {
    background-color: #0ac297;
    border-color: #0ac297;
  }
}
