.card-statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  .card-statistic {
    padding: 1.5rem 0;
    margin: 0.625rem 0;
    &:not(:last-child) {
      border-right: 1px solid $tab-inactive-border;
    }
    h2,
    h6 {
      color: $color-dark;
    }
    h6 {
      font-weight: 700;
    }
  }
}
